<launch>
    <arg name="simulation" default="false"/>

    <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
    <arg name="load_robot_description" default="false"/>

    <!-- Get the proper joint limits configuration file according to the simulation argument -->
    <arg name="joint_limits_config" default="$(find arq_ur5_ezgripper_moveit_config)/config/joint_limits.yaml" unless="$(arg simulation)"/>
    <arg name="joint_limits_config" default="$(find arq_ur5_ezgripper_moveit_config)/config/joint_limits_simulation.yaml" if="$(arg simulation)"/>

    <!-- Get the proper kinematics configuration file according to the simulation argument -->
    <arg name="kinematics_config" default="$(find arq_ur5_ezgripper_moveit_config)/config/kinematics.yaml" unless="$(arg simulation)"/>
    <arg name="kinematics_config" default="$(find arq_ur5_ezgripper_moveit_config)/config/kinematics_simulation.yaml" if="$(arg simulation)"/>

    <!-- Set initial_z of the robot to enable to set it on a table -->
    <arg name="initial_x" default="0"/>
    <arg name="initial_y" default="0"/>
    <arg name="initial_z" default="0.86"/>

    <!-- The name of the parameter under which the URDF is loaded -->
    <arg name="robot_description_name" default="robot_description"/>

    <arg name="robot_description" default="$(find arq_ur5_ezgripper_moveit_config/config/arq_ur5_with_ezgripper.urdf.xacro"/>

    <!-- Load universal robot description format (URDF) -->
    <param if="$(arg load_robot_description)" name="$(arg robot_description_name)" command="xacro --inorder '$(arg robot_description)' initial_z:=$(arg initial_z)  initial_y:=$(arg initial_y)"/>

    <!-- The semantic description that corresponds to the URDF -->
    <param name="$(arg robot_description_name)_semantic" textfile="$(find arq_ur5_ezgripper_moveit_config)/config/arq_ur5_with_ezgripper.srdf"/>

    <!-- Load updated joint limits (override information from URDF) -->
    <group ns="$(arg robot_description_name)_planning">
        <rosparam command="load" file="$(arg joint_limits_config)"/>
    </group>

    <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
    <group ns="$(arg robot_description_name)_kinematics">
        <rosparam command="load" file="$(arg kinematics_config)"/>
    </group>

</launch>
